.text-white {
    color:#fff;
}

.center { 
    text-align: center;
}

.font-size-p {
    font-size: 1.3rem;
    text-align: justify;
    line-height: 1.7rem;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.main-navbar {
    transition: all 1s ease;
}

.nav-transparent { 
    background-color:rgba(255, 255, 255, 0.442);
    transition: all 1s ease;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
}

#why-us {
    background-color: #3e5372;
    padding: 20px 0;
    color:#fff;
}

#why-us .item {
    padding: 20px 0;
}

#why-us img {
    width: 250px;
    margin-left: 500px;
}

#why-us .item-bg  {
    background-image: url('../images/macbook.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#about-us {
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;   
}

#about-us h3 {
    padding: 30px 0;
}

#about-us p {
    text-align: center;
    color:white;
    padding: 20px 0; 
}

#services {
    background-color: #3e5372;
    padding: 20px 0;
    color:#fff;
}

#services h3 {
    padding:20px 0;
}

#services p {
    text-align: right;
    font-size: 1.2rem;
    line-height: 1.5rem;
}

#services img {
    width: 70px;
    height: 70px;
}

#services .services-title {
    text-align: right;
}

#contact-us {
    min-height: 100vh;
    background-color: #3e5372;
    color: #fff;
    background-image: url("../images/buildings.jpeg");
    background-size:50% 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

#contact-us-form form label {
    font-size: 1.5rem;
    font-weight: 100;
}

#contact-us-form input[type=text],input[type=email] { 
    width: 100%;
    margin: 20px 0;
    background-color: transparent;
    height: 50px;
    color:white;
    border: 1px solid #fff;
    font-size: 1.5rem;
    padding: 10px;
}

#contact-us-form textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    color:white;
    font-size: 1.3rem;
    padding: 10px;
}

#contact-us-details {
    margin-top: 150px;
    font-size: 1.2rem;
}

#contact-us-details div {
    padding: 30px 0;
    border-bottom: 1px solid #fff;
}

#contact-us-details div i { 
    padding-right: 10px;
}

#google-map {
    width: 100%;
    background-image: url("../images/pacific-blue-map.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}